.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 30vh;
  }
  
  .right-side {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
  }
  
  .left-side {
    max-width: 30%;
  }
  
  .left-side p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .left-side span {
    font-weight: bold;
  }
  
  .right-side .start, .right-side .stop {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  